FastAPI
uvicorn
python-multipart
pydantic
pydantic_settings
ultralytics
opencv-python-headless
numpy
Pillow
torch
torchvision
python-dotenv
sqlalchemy
asyncpg
psycopg2-binary
databases[postgresql]
websockets