FastAPI
uvicorn
python-multipart
pydantic
pydantic_settings
ultralytics
opencv-python-headless
numpy
Pillow
torch
torchvision
dotenv
sqlalchemy
asyncpg
psycopg2
sqlalchemy
databases[postgresql]
websockets